html{
    font-family: 'Montserrat', sans-serif;
}

.colorized{
    color: #29174C;
    font-weight: 700;
}
.backgroundHeader{
    width: 100%;
    height: 700px;
    background-size: auto;
    background: url('../assets/vaper.svg');
    background-size: 100%;
    color: white;
    background-repeat: no-repeat;
}
.backgroundFooter{
    width: 100%;
    height: 200px;
    background: url('../assets/background.svg');
    background-size: 100%;
    color: white;
}
.textB{
    margin-top: 150px;
    margin-left: -450px;
}
.secondColor{
    color:#B855FF;
}
.smallText{
    font-weight: 500;
    font-size: small ;
}
.space{
    margin-right: 5px;
}
.vertical{
    vertical-align: middle;
}
.distancia{
    margin-top: 15px;
}
.alturaBoton{
    margin-top: 500px;
    margin-left: 600px;
    height: 78px;
    font-weight: 900;
    border: 2px solid #29174C;
    border-radius: 10px;
}
.distancia2{
    margin-top: 45px;
}
.alturaBoton2{
    height: 78px;
    font-weight: 900;
    color: white;
    background: #29174C;
    border: 2px solid #B855FF;
    border-radius: 10px;
}
.alturaBoton2:hover{
    background-color: #29174C;
}
.mainPinguino{
    margin-left: 150px;
}
.navDispenser{
    margin-left: 60px;
    margin-right: 60px;
}
.bottomDistancing{
    margin-bottom: 55px;
}

.selectedField{
    color: white;
    background-color: #29174C;
    padding: 8px;
    border-radius: 5px;
}


@media (max-width: 480px){
    .backgroundHeader{
        height: 350px;
    }

    .alturaBoton{
        margin-top: 190px;
        margin-left: 75px;
        height: 78px;
        font-weight: 900;
        border: 2px solid #29174C;
        border-radius: 10px;
    }

    .backgroundFooter{
        height: 400px;
    }
}